<ion-view>
  <ion-content>
      <img class="title-image" src="img/logo.png" alt="" style="padding:10%;width:100%;"/>
      <h1 style="text-align: center;"><strong>Acerca de:</strong></h1>
      <div class="card">
        <div style="text-align:center;">
          <h1><strong>APPersoneria Version 1.0</strong></h1>
            <p><strong>Personeria de Cali</strong></p>
            <p>©2014 - Derechos reservados</p>
            <strong><p>Tenga en cuenta que esta aplicación requiere acceso a internet y puede consumir recursos de su plan de datos.</p></strong>
            <br>
            <p>Aplicación desarrollada por el grupo <a href="http://www.facebook.com/Appoyarte"><strong>APPoyarte</strong></a> conformado por: <a href="http://www.facebook.com/MoisesEliasValera">Moises Elias Valera</a>, <a href="https://www.facebook.com/jiovanny.villamil">Jiovanny Villamil</a> y <a href="https://www.facebook.com/PeyoDaza">Pedro Jose Daza</a>, en la maratón "APPuesta social", organizada por el Ministerio de Tecnologías de la Información y las Comunicaciones.
            <br>
            </p>
            <br>
            <p><strong>APPersoneria</strong> es un medio directo de comunicación con los personeros de los diferentes municipios de Colombia, que busca atender y apoyar a la ciudadanía cuando necesiten orientación e información para saber que hacer frente a cualquier hecho que genere conflicto o que impacte de cualquier manera los derechos humanos de acuerdo a los criterios establecidos por la constitución colombiana.</p>
            <br>
            <div style="text-align:center;">
              <p><u><strong>Entidades relacionadas:</strong></u></p>
              <br>
              <img src="img/Mintic.png" style="width: 80%;height: auto;" alt="">
              <br>
              <br>
              <img src="img/Fenalper.png" style="width: 50%;height: auto;" alt="">
              <br> 
              <img src="img/logocali.png" style="width: 50%;height: 90px;" alt="">                                       
            </div>
          </div>                  
      </div>
  </ion-content>
</ion-view>
